<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>Merci de votre inscription !</title><!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style type="text/css">#outlook a {
            padding: 0;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table, td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        p {
            display: block;
            margin: 13px 0;
        }</style><!--[if !mso]><!-->
    <style type="text/css">@media only screen and (max-width: 480px) {
            @-ms-viewport {
                width: 320px;
            }
            @viewport {
                width: 320px;
            }
        }</style><!--<![endif]--><!--[if mso]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]--><!--[if lte mso 11]>
    <style type="text/css">
        .outlook-group-fix {
            width: 100% !important;
        }
    </style>
    <![endif]--><!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700" rel="stylesheet" type="text/css">
    <style type="text/css">@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700);</style>
    <!--<![endif]-->
    <style type="text/css">@media only screen and (min-width: 480px) {
            .mj-column-per-100 {
                width: 100% !important;
                max-width: 100%;
            }

            .mj-column-per-33 {
                width: 33.333333333333336% !important;
                max-width: 33.333333333333336%;
            }

            .mj-column-per-50 {
                width: 50% !important;
                max-width: 50%;
            }
        }</style>
    <style type="text/css">@media only screen and (max-width: 480px) {
            table.full-width-mobile {
                width: 100% !important;
            }

            td.full-width-mobile {
                width: auto !important;
            }
        }</style>
</head>
<body style="background-color:#ffffff;">
<div style="background-color:#ffffff;"><!--[if mso | IE]>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
               style="background:#ffffff;background-color:#ffffff;width:100%;">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:40px;padding-top:40px;text-align:center;vertical-align:top;">
                    <!--[if mso | IE]>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="" style="vertical-align:top;width:600px;"><![endif]-->
                    <div class="mj-column-per-100 outlook-group-fix"
                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                               style="vertical-align:top;" width="100%">
                            <tr>
                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="border-collapse:collapse;border-spacing:0px;">
                                        <tbody>
                                        <tr>
                                            <td style="width:197px;"><img height="auto"
                                                                          src="{{ absolute_url(asset('img/logo.png')) }}"
                                                                          style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;"
                                                                          width="197"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso | IE]></td></tr></table><![endif]--></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--[if mso | IE]></td></tr></table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="background:#F4F5F6;background-color:#F4F5F6;Margin:0px auto;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
               style="background:#F4F5F6;background-color:#F4F5F6;width:100%;">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:25px;padding-top:0;text-align:center;vertical-align:top;">
                    <!--[if mso | IE]>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="" style="vertical-align:top;width:600px;"><![endif]-->
                    <div class="mj-column-per-100 outlook-group-fix"
                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                               style="vertical-align:top;" width="100%">
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:10px 25px;padding-top:50px;padding-right:25px;padding-bottom:30px;padding-left:25px;word-break:break-word;">
                                    <div style="font-family:open Sans Helvetica, Arial, sans-serif;font-size:24px;font-weight:bold;line-height:35px;text-align:left;color:#263245;">
                                        Bonjour,<br>Un de vos contact vous invite pour participer au projet Etikbnb !
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:10px 25px;padding-right:25px;padding-left:25px;word-break:break-word;">
                                    <div style="font-family:open Sans Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;line-height:150%;text-align:left;color:#52627A;">
                                        Cette invitation a été envoyé par {{ sender | raw }}<br>Etikbnb ne sauvegarde
                                        aucune donnée personnelle pour envoyer cette invitation.
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso | IE]></td></tr></table><![endif]--></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--[if mso | IE]></td></tr></table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
               style="background:#ffffff;background-color:#ffffff;width:100%;">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:20px;padding-top:20px;text-align:center;vertical-align:top;">
                    <!--[if mso | IE]>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="" style="vertical-align:middle;width:600px;"><![endif]-->
                    <div class="mj-column-per-100 outlook-group-fix"
                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                               style="vertical-align:middle;" width="100%">
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:10px 25px;padding-right:25px;padding-left:25px;word-break:break-word;">
                                    <div style="font-family:open Sans Helvetica, Arial, sans-serif;font-size:16px;font-weight:bold;line-height:150%;text-align:left;color:#52627A;">
                                        Un hébergement pour le personnel d’établissements et services sanitaires et
                                        sociaux et les personnes vulnérables
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:10px 25px;padding-right:25px;padding-left:25px;word-break:break-word;">
                                    <div style="font-family:open Sans Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:150%;text-align:left;color:#52627A;">
                                        Pour faire face au tsunami sanitaire, que je sois un particulier ou un
                                        professionnel, je propose un hébergement pour le personnel d’établissements et
                                        services sanitaires et sociaux et les personnes vulnérables sur Etikbnb.
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" vertical-align="middle"
                                    style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="border-collapse:separate;line-height:100%;">
                                        <tr>
                                            <td align="center" bgcolor="#F44c49" role="presentation"
                                                style="border:none;border-bottom:2px;border-radius:0px;cursor:auto;padding:10px 25px;background:#F44c49;"
                                                valign="middle"><a href="https://www.etikbnb.org"
                                                                   style="background:#F44c49;color:#ffffff;font-family:open Sans Helvetica, Arial, sans-serif;font-size:16px;font-weight:700;line-height:120%;Margin:0;text-decoration:none;text-transform:none;"
                                                                   target="_blank">Je participe</a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:10px 25px;padding-right:25px;padding-left:25px;word-break:break-word;">
                                    <div style="font-family:open Sans Helvetica, Arial, sans-serif;font-size:24px;font-weight:bold;line-height:120%;text-align:left;color:#263245;">
                                        Qui sommes nous ?
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:10px 25px;padding-right:25px;padding-left:25px;word-break:break-word;">
                                    <div style="font-family:open Sans Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:150%;text-align:left;color:#52627A;">
                                        Etikbnb assure le fonctionnement de la plateforme et coordonne le projet
                                        ++Etikbnb santé.<br><br>C’est une association motivée par un retour à l’économie
                                        de partage et par une autre manière d’habiter temporairement..<br><br>Elle est :
                                        <ul>
                                            <li><b>Inclusive :</b> Etikbnb s’adresse à tous, sans discrimination.</li>
                                            <li><b>Coopérative :</b> Etikbnb accueille toute association ou coopérative
                                                qui a des objectifs similaires (coopératives Oiseaux de Passage, Hôtel
                                                du Nord, Fairbnb.coop...).
                                            </li>
                                            <li><b>Ethique : </b>Etikbnb contrôle de manière permanente la transparence
                                                de son propre fonctionnement et protège les données personnelles de ses
                                                membres. Elle respecte la réglementation, en particulier juridique et
                                                fiscale.
                                            </li>
                                            <li><b>Participative :</b>Etikbnb permet aux hébergeurs de partager leurs
                                                caractéristiques environnementales et les solutions qu’ils mettent en
                                                place. Elle permet aussi aux voyageurs d’accéder aux services de ses
                                                partenaires pour l’environnement et la culture
                                            </li>
                                        </ul>
                                        L'association Etikbnb prépare la création d'une SCIC (Société Coopérative
                                        d’Intérêt Collectif), future gestionnaire dès l'activités, dans laquelle toutes
                                        les parties prenantes (fondateurs, bénévoles, hébergeurs, voyageurs, porteurs de
                                        projets solidaires, collectivités territoriales, organismes d’appui financier,
                                        bienfaiteurs, conseillers éthiques et salariés) seront représentées.
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:10px 25px;padding-right:25px;padding-left:25px;word-break:break-word;">
                                    <div style="font-family:open Sans Helvetica, Arial, sans-serif;font-size:24px;font-weight:bold;line-height:120%;text-align:left;color:#263245;">
                                        Notre feuille de route
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:10px 25px;padding-right:25px;padding-left:25px;word-break:break-word;">
                                    <div style="font-family:open Sans Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:150%;text-align:left;color:#52627A;">
                                        <b>A partir de mercredi 25 mars 2020</b><br><strike>Mise en ligne de la page de
                                            présentation (version 0)</strike><br>✅<b>Réalisé</b><br><br><b>Première mise en
                                            jour</b><br>le formulaire d’ajout d’un hébergement<br><br><b>Seconde mise à
                                            jour</b><br>
                                        <ul>
                                            <li>le formulaire de demande d’un hébergement par le personnel des services
                                                de santé
                                            </li>
                                            <li>un espace de gestion centralisé des demandes d’hébergement multiples par
                                                les structures sanitaires et sociales (hôpitaux, ehpad, etc)
                                            </li>
                                        </ul>
                                        <b>Ensuite :</b><br>ajout de fonctionnalités en lien avec d’autres plateformes
                                        coopératives.
                                        <ul>
                                            <li>mobilité solidaire dans la crise</li>
                                            <li>soutien psychologique par chat privé, téléphone et visio conférence</li>
                                            <li>hébergement pour d’autres secteurs comme la distribution alimentaire
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" vertical-align="middle"
                                    style="font-size:0px;padding:10px 25px;padding-left:0;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="border-collapse:separate;line-height:100%;">
                                        <tr>
                                            <td align="center" bgcolor="white" role="presentation"
                                                style="border:none;border-radius:3px;cursor:auto;padding:10px 25px;background:white;"
                                                valign="middle"><a
                                                        href="https://nextcloud.toulouse.happy-dev.fr/s/CHzGBCQNSLCagon/download"
                                                        style="background:white;color:#F44c49;font-family:Helvetica;font-size:16px;font-weight:bold;line-height:120%;Margin:0;text-decoration:underline;text-transform:none;"
                                                        target="_blank">Télécharger les statuts de l'association (PDF - 245
                                                    ko)</a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:10px 25px;padding-top:25px;padding-right:25px;padding-left:25px;word-break:break-word;">
                                    <div style="font-family:open Sans Helvetica, Arial, sans-serif;font-size:24px;font-weight:bold;line-height:120%;text-align:left;color:#263245;">
                                        Nos partenaires
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso | IE]></td></tr></table><![endif]--></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--[if mso | IE]></td></tr></table><![endif]--><!-- Side image --><!--[if mso | IE]>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="background:white;background-color:white;Margin:0px auto;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
               style="background:white;background-color:white;width:100%;">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;">
                    <!--[if mso | IE]>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="" style="vertical-align:middle;width:200px;"><![endif]-->
                    <div class="mj-column-per-33 outlook-group-fix"
                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                               style="vertical-align:middle;" width="100%">
                            <tr>
                                <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="border-collapse:collapse;border-spacing:0px;">
                                        <tbody>
                                        <tr>
                                            <td style="width:100px;"><a href="https://coopdescommuns.org"
                                                                        target="_blank"><img height="auto"
                                                                                             src="{{ absolute_url(asset('img/coopdescommuns.png')) }}"
                                                                                             style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;"
                                                                                             width="100"></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso | IE]></td>
                    <td class="" style="vertical-align:middle;width:200px;"><![endif]-->
                    <div class="mj-column-per-33 outlook-group-fix"
                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                               style="vertical-align:middle;" width="100%">
                            <tr>
                                <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="border-collapse:collapse;border-spacing:0px;">
                                        <tbody>
                                        <tr>
                                            <td style="width:100px;"><a href="https://lesoiseauxdepassage.coop"
                                                                        target="_blank"><img height="auto"
                                                                                             src="{{ absolute_url(asset('img/oiseaux.png')) }}"
                                                                                             style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;"
                                                                                             width="100"></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso | IE]></td>
                    <td class="" style="vertical-align:middle;width:200px;"><![endif]-->
                    <div class="mj-column-per-33 outlook-group-fix"
                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                               style="vertical-align:middle;" width="100%">
                            <tr>
                                <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="border-collapse:collapse;border-spacing:0px;">
                                        <tbody>
                                        <tr>
                                            <td style="width:140px;"><a href="https://happy-dev.fr" target="_blank"><img
                                                            height="auto" src="{{ absolute_url(asset('img/happydev.png')) }}"
                                                            style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;"
                                                            width="140"></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso | IE]></td></tr></table><![endif]--></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--[if mso | IE]></td></tr></table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="Margin:0px auto;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;">
                    <!--[if mso | IE]>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="" style="vertical-align:middle;width:300px;"><![endif]-->
                    <div class="mj-column-per-50 outlook-group-fix"
                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                               style="vertical-align:middle;" width="100%">
                            <tr>
                                <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="border-collapse:collapse;border-spacing:0px;">
                                        <tbody>
                                        <tr>
                                            <td style="width:160px;"><a href="https://www.lesimpacteurs.fr/"
                                                                        target="_blank"><img height="auto"
                                                                                             src="{{ absolute_url(asset('img/impacteurs.png')) }}"
                                                                                             style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;"
                                                                                             width="160"></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso | IE]></td>
                    <td class="" style="vertical-align:middle;width:300px;"><![endif]-->
                    <div class="mj-column-per-50 outlook-group-fix"
                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                               style="vertical-align:middle;" width="100%">
                            <tr>
                                <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="border-collapse:collapse;border-spacing:0px;">
                                        <tbody>
                                        <tr>
                                            <td style="width:160px;"><a href="https://indie.host" target="_blank"><img
                                                            height="auto" src="{{ absolute_url(asset('img/indie-host.png')) }}"
                                                            style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;"
                                                            width="160"></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso | IE]></td></tr></table><![endif]--></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--[if mso | IE]></td></tr></table><![endif]--></div>
</body>
</html>